body {
    margin: 0;
}

header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
    position: fixed;
    top: 0;
    width: 100%;
}

header > ul > li {
    float: left;
}

header > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header > ul > li > a:hover:not(.headeractive) {
    background-color:darkseagreen;
}

.headeractive {
    background-color:darkslategray;
}

div > ul {
    list-style-type: none;
    margin-top: 28px;
    padding: 0;
    width: 20%;
    background-color:mediumseagreen;
    position: fixed;
    height: 100%;
    overflow: auto;
}

div > ul > li > a {
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
}

div > ul > li > a.leftactive {
    background-color:lightslategray;
    color: white;
}

div > ul > li > a:hover:not(.leftactive) {
    background-color:lightseagreen;
}

main {
    margin-left: 20%;
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 20px;
    height: 100%;
    overflow: auto;
}

footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > ul > li {
    float: left;
}

footer > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer > ul > li > a:hover:not(.footeractive) {
    background-color:darkseagreen;
}

.footeractive {
    background-color:darkslategray;
}
