body {
    margin: 0;
}

header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
    position: fixed;
    top: 0;
    width: 100%;
}

header > ul > li {
    float: left;
}

header > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header > ul > li > a:hover:not(.headeractive) {
    background-color:darkseagreen;
}

.headeractive {
    background-color:darkslategray;
}

header > ul > div {
    float: right;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color:seagreen;
    color:white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color:mediumseagreen;
    min-width: 100%;
    overflow: auto;
    z-index: 1;
}

.dropdown-content > a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown:hover > .dropbtn > .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: darkseagreen;
}

.dropdown-content > a:hover {
    background-color:lightseagreen;
}

main {
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 20px;
    height: 100%;
    overflow: auto;
}

footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > ul > li {
    float: left;
}

footer > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer > ul > li > a:hover:not(.footeractive) {
    background-color:darkseagreen;
}

.footeractive {
    background-color:darkslategray;
}
