body {
    margin: 0;
}

header > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
    position: fixed;
    top: 0;
    width: 100%;
}

header > ul > li {
    float: left;
}

header > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

header > ul > li > a:hover:not(.headeractive) {
    background-color:darkseagreen;
}

.headeractive {
    background-color:darkslategray;
}

div > ul {
    list-style-type: none;
    margin: 30px 0px 30px;
    padding: 0;
    width: auto;
    background-color:mediumseagreen;
    position: fixed;
    height: 100%;
    overflow: auto;
}

div > ul > li > a {
    display: block;
    color:black;
    padding: 8px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

div > ul > li > a.leftactive {
    background-color:lightslategray;
    color: white;
}

div > ul > li > a:hover:not(.leftactive) {
    background-color:lightseagreen;
}

main {
    margin-left: 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

footer > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:seagreen;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > ul > li {
    float: left;
}

footer > ul > li > p {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
