body {
  margin: 0px;
}

main {
  margin-left: -20px;
  margin-right: 0px;
}

table {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 30px solid;
  border-color: #b7d4b5;
  border-collapse: collapse;
  min-width: 1519px;
}

th,
td {
  border: 1px solid;
  border-color: #b7d4b5;
  padding: 12px 14px;
  text-align: left;
}

.darkcolor {
  background-color: #d1e4d0;
}

.lightcolor {
  background-color: #e7f1e7;
}

label {
  padding-right: 10px;
  font-size: 1rem;
  position: relative;
  top: 10px;
}

.nbsa {
  content: "";
  background-color: #5B7859;
  position: absolute;
  top: 796px;
  right: 195px;
  bottom: -8px;
  left: 1315px;
  opacity: 0.75;
}

/* line 63 in dashboard html for progress percentage change value */

progress {
  width: 850px;
  position: relative;
  top: 10px;
  z-index: 1;
  margin-top: 33px;
  margin-bottom: 32px;
  padding-top: 20px;
}

span {
  z-index: 1;
  position: relative;
}


.table-header-rotated {
  border-collapse: collapse;
}

.csstransforms,
td {
  width: 30px;
}

td {
  padding: 12px 14px;
  border: 1px solid #ccc;
}

.csstransforms,
th.rotate {
  height: 29px;
  white-space: nowrap;
}

div.header {
  display: inline-block;
  transform:
    rotate(90deg);
  width: 30px;
}

div>span {
  padding: 5px 10px;
}

th.row-header {
  padding: 0px 10px;
}

th.rotate {
  padding: 0;
  margin: 0;
  max-width: 30px;
}