body {
    background-image: url(../imagesbackgroundsmap/oceanwavesraiseshand.jpg);
  background-repeat: repeat;
  background-attachment: fixed; 
  margin-bottom: 20px;
}

.questionans {
    background-color: #e8e8e8;
    box-shadow: 1px 0 10px #494949;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

main {
    margin-bottom: 50px;
}

main section article {
    padding: 20px;
    margin-top: 20px;
}

img {
    max-height: 332px;
    float: left;
    padding-right: 20px;
}